/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.img-topo {
    margin-top: 8px;
}

.foot {
    text-align: center;
    margin-left: 30%;
    margin-top: 30px;
}

.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.ripple-wrap {
    position: relative;
}

.ripple-wrap canvas {
    position: absolute;
    z-index: 1;
}

.img-margin {
    margin-top: 20px;
}

.indent {
    margin-left: 50px;
}

.move-down {
    margin-top: 100px;
}

.select2 {
    width: 50%;
    border-radius: 0;
}

.fonte-dados {
    margin-top: 50px;
    margin-bottom: 50px;
}

.data-dimensions {
    height: 400px;
    width: 100%;
}

.no-padding {
    padding: 0 !important;
}

/**** CHART ***/

#chart {
    background-color: white;
}

/**** WATERSOURCE ACCORDION ***/

.watersource-accordion {
    width: auto;
    height: auto;
    list-style-type: none;
    white-space: nowrap;
    margin: 0;
}

.accordion-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.accordion-content {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

/**** WATERSOURCE LEVEL ***/

.watersource-level {
    margin: auto 10px;
    display: block;
    float: right;
    text-align: center;
}

.watersource-level .percent {
    display: block;
    font-weight: bold;
    font-size: 500%;
}

.watersource-level .date {
    font-weight:bold;
    color: #e61;
}

.watersource-level .text {
    font-weight:bold;
    color: #899  ;
}

.watersource-level .worst {
    color: #D44;
}

.watersource-level .bad {
    color: #D74;
}

.watersource-level .regular {
    color: #000;
}

.watersource-level .best {
    color: #47D;
}

/**** WATERSOURCE MEASUREMENT ***/

.watersource-measurement{
    margin: auto 10px;
    display: block;
    text-align: center;
    padding-top:30px;
    padding-bottom:30px;
}

.watersource-measurement *{
    margin: 5px;
    display: block;
}

.watersource-measurement hr{
    border-color: #000;
}

.watersource-measurement .value{
    font-size:xx-large;
    font-weight:bold;
    color: #339;
}

.watersource-measurement .label{
    font-size:medium;
    font-weight:bold;
    color: #899;
}

.watersource-measurement-width {
    width: 60%;
}

.watersource-level-width {
    width: 40%;
}

.watersource-measurement-value{
    overflow: hidden;
    white-space: nowrap;
}

.watersource-inline {
    display: inline-flex;
}

/**** CARDS ***/

.cards {
    min-width: 335px;
}

.card {
    background-color: grey;
    box-shadow:inset 0 0 1px 2px rgba(255,255,255,0.2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 20px;
}

.card-red {
    background-color: rgb(255,84,85);
}

.card-blue {
    background-color: rgb(103,194,239);
}

.card-yellow {
    background-color: rgb(250,187,61);
}

.card-green {
    background-color: rgb(121,196,71);
}

.card-purple {
    background-color: rgb(159,133,255);
}

.card > .card-heading {
    background-color: rgba(255,255,255,0.5);
    color: rgba(0,0,0,0.6);
    padding: 10px 15px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.card > .card-body {
    padding: 15px;
}

.card .card-text {
    color: #FFFFFF;
    font-family: monospace, monospace;
    font-size: xx-large;
    text-align: center;
}

.spinner-right {
    float: right;
}

.nova-aba{
    target-new: tab ! important
}