/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.img-topo {
    margin-top: 8px;
}

.foot {
    text-align: center;
    margin-left: 30%;
    margin-top: 30px;
}

.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.ripple-wrap {
    position: relative;
}

.ripple-wrap canvas {
    position: absolute;
    z-index: 1;
}

.img-margin {
    margin-top: 20px;
}

#form {
    margin-left: 50px;
    width: 500px
}

.indent {
    margin-left: 50px;
}

.move-down {
    margin-top: 100px;
}

.select2 {
    width: 50%;
    border-radius: 0px;
}

#cagepa {
    width: 15%;
}

#aesa {
    width: 8%;
}

.fonte-dados {
    margin-top: 50px;
    margin-bottom: 50px
}
.panel-success-info1 {
    border-color: #bde7fb;
}
.panel-success-info1 > .panel-heading {
    color: #06090d;
    background-color: #acd6f0;
    border-color: #7ce9d6;
}
.panel-success-info1 > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #90d8e9;
}
.panel-success-info1 > .panel-heading .badge {
    color: #9ee6f0;
    background-color: #406c76;
}
.panel-success-info1 > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #9be0e9;
}

.panel-success-info2 {
    border-color: #e8bdff;
}
.panel-success-info2 > .panel-heading {
    color: #010001;
    background-color: #e7bdf0;
    border-color: #e99fc6;
}
.panel-success-info2 > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #e9a6d9;
}
.panel-success-info2 > .panel-heading .badge {
    color: #f0a1c7;
    background-color: #76445c;
}
.panel-success-info2 > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #e994d3;
}


.panel-success-info3 {
    border-color: #f0ffa9;
}
.panel-success-info3 > .panel-heading {
    color: #030301;
    background-color: #e3f0a3;
    border-color: #d3e969;
}
.panel-success-info3 > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #dbe97f;
}
.panel-success-info3 > .panel-heading .badge {
    color: #e9f087;
    background-color: #767632;
}
.panel-success-info3 > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #e4e972;
}

.panel-success-info4 {
    border-color: #aba4a5;
}
.panel-success-info4 > .panel-heading {
    color: #030301;
    background-color: #d3d3ce;
    border-color: #e9e5e4;
}
.panel-success-info4 > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #e5e9e1;
}
.panel-success-info4 > .panel-heading .badge {
    color: #f0ece9;
    background-color: #767372;
}
.panel-success-info4 > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #e9e8e4;
}
.panel-body1{
    background: #42a0ff;
}
.panel-body2{
    background: #b945eb;
}
.panel-body3{
    background: #b6ae42;
}
.panel-body4{
    background: #8b8a88;
}