<div ng-controller="InicioCtrl">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
        <form>
                <select id="selectCity" class="select2" ng-model="cities.selected"
                        ng-options="city.name for city in cities.options" ng-change="loadCity()">
                </select>
        </form>
        <table class="table" style="margin: 0">
            <tr>
                <td rowspan="2" style="width: 50%;">
                    <div class="panel panel-info">
                        <div class="panel-heading">Açudes <span ng-hide="dataLoaded" class="fa fa-spinner fa-spin" style="float:right;"></span></div>
                        <div class="panel-body" style="padding: 0;">
                            <ol id="watersourcesAccordion" class="color" style="width: auto; height: auto; list-style-type: none; white-space: nowrap; margin: 0">
                                <li ng-repeat="watersource in watersources" on-accordion-repeat-render style="display: inline-flex;">
                                    <div>{{watersource.name}}</div>
                                    <div>
                                        <div style="display: inline-flex; width: 100%; height: 100%;">
                                            <div class="watersource-measurement" style="width: 60%">
                                                <span class="value">{{watersource.lastMeasurement.value | number}} {{watersource.measurementUnit}}</span>
                                                <span class="label">Volume Atual</span>
                                                <hr>
                                                <span class="label">Capacidade Máxima</span>
                                                <span class="value" style="overflow: hidden; white-space: nowrap;">{{watersource.capacity | number}} {{watersource.measurementUnit}}</span>
                                            </div>
                                            <div class="watersource-level" style="width: 40%">
                                                <span class="percent {{watersource.class}}" style="overflow: hidden; white-space: nowrap;">{{watersource.percent | number : 2}} %</span>
                                                <span class="text">Percentual de água em: </span>
                                                <span class="date">{{watersource.lastMeasurement.date | date : 'dd/MM/yyyy'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </td>
                <td class="cards" style="height: 240px">
                    <div class="card" style="background-color:darkcyan;">
                        <div class="card-heading">Estimativa de litros por pessoa<span ng-hide="dataLoaded" class="fa fa-spinner fa-spin" style="float:right;"></span></div>
                        <div class="card-body">
                            <div ng-show="dataLoaded">
                                <h3 class="card-text">{{ cards.liters | number:0 }} litros</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="background-color:olive;">
                        <div class="card-heading">Quantidade total de m³<span ng-hide="dataLoaded" class="fa fa-spinner fa-spin" style="float:right;"></span></div>
                        <div class="card-body">
                            <div ng-show="dataLoaded">
                                <h3 class="card-text">{{ cards.cubicMeters | number:0}} m³</h3>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="cards" style="height: 240px">
                    <div class="card" style="background-color:darkgreen;">
                        <div class="card-heading">Consomem os recursos hídricos<span ng-hide="dataLoaded" class="fa fa-spinner fa-spin" style="float:right;"></span></div>
                        <div class="card-body">
                            <div ng-show="dataLoaded">
                                <h3 class="card-text">{{ cards.person | number:0 }} pessoas</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="background-color:darkviolet;">
                        <div class="card-heading">Estimativa de término da água<span ng-hide="dataLoaded" class="fa fa-spinner fa-spin" style="float:right;"></span></div>
                        <div class="card-body">
                            <div ng-show="dataLoaded">
                                <h3 class="card-text">{{ cards.water | date:"dd/MM/yyyy"}}</h3>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <table  class="table">
            <tr>
                <td id="dados_historicos" class="cards">
                    <div class="panel panel-info">
                        <div class="panel-heading">Dados Históricos</div>
                        <div class="panel-body" style="padding: 0;">
                            <div id="chart" class="data-dimensions"></div>
                        </div>
                    </div>
                </td>
                <td class="cards">
                    <div class="panel panel-success">
                        <div class="panel-heading">Georreferenciamento</div>
                        <div class="panel-body" style="padding: 0;">
                            <div id="mapa" class="data-dimensions"></div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script type="text/javascript" src="assets/libs/conventAccordion/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="assets/libs/conventAccordion/js/jquery.conventAccordion.js"></script>
</div>