<div ng-controller="InicioCtrl">

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
        <form ng-submit="loadCity()">
            <div style="margin-bottom: 20px;">
                <select id="selectCity" class="select2" ng-model="cities.selected" ng-options="city.name for city in cities.options">
                </select>
                <button id="btnSearch" type="submit" class="btn btn-default btn-sm">Pesquisar</button>
            </div>
        </form>
        <div class="panel panel-default">
            <div class="panel-heading">Levantamentos</div>
            <div class="panel-body">
                <div class="placeholders">
                    <div class="col-xs-6 col-sm-4">
                        <img src="assets/img/seca.png">
                        <h4>Nível médio dos açudes</h4>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <img src="assets/img/agua.jpg">
                        <h4>Quantidade de Litros</h4>
                        <span class="text-muted">{{ watersource.capacity }} {{ watersource.measurementUnit }}</span>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <img src="assets/img/nivel-maior-50.jpg">
                        <h4>Estimativa</h4>
                        <span class="text-muted">{{ watersource.days }} dias</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-success">
                    <div class="panel-heading">Georreferenciamento</div>
                    <div class="panel-body">
                        <div id="mapa" style="height: 400px; width: 100%"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Dados Históricos</div>
                    <div class="panel-body">
                        <div id="chart" style="height: 400px; width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="app/components/inicio/ui.js" />

</div>